################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pak_reserve1/.vs/Pak_reserve1/FileContentIndex/255c32b7-dedc-4c2b-b773-205c7f849a17.vsidx
/Pak_reserve1/.vs/Pak_reserve1/FileContentIndex/7b09d974-d05b-4d81-9b70-24cc96a82473.vsidx
